@model ShoppingCart.Commons.Models.Objects.Product

@Html.HiddenFor(model => model.Id)
<div class="col-sm-2">
    <div class="card">
        <a href="@Url.Action("ViewProductDetail", "Product", new { id = Model.Id })">
            <img class="card-img-top" src="@Html.DisplayFor( model => model.Image.FilePath)" alt="Card image cap">
        </a>
        <div class="card-body"> Some more card content </div>
    </div>
</div>
