@model ShoppingCart.Models.Objects.ProductListViewModel

@{
    ViewBag.Title = "Products";
}

<div class="col-md-12">
    <h3>@Html.DisplayFor(model => model.Products[0].Type.Name)</h3>

    @foreach (var product in Model.Products)
    {
        <div class="col-md-3">
            @using (Html.BeginForm("AddToCart", "Cart"))
            {
                @Html.AntiForgeryToken()
                <div class="product-thumb">
                    @Html.Partial("_Product", product)
                </div>
            }
        </div>
    }
</div>