@model ShoppingCart.Models.Objects.ProductDetailViewModel

@{
    ViewBag.Title = "Product";

}

@using (Html.BeginForm("AddToCart", "Cart"))
{
    @Html.AntiForgeryToken()
 
    <div class="col-md-10 col-md-4">
        <div class="product-container">
            @Html.Partial("_Product", Model.Product)
            <div class="form-group">
                @Html.HiddenFor(model => model.Product.Id)
                <div>
                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div>
                    <input type="submit" value="Add To Cart" class="btn-add-to-cart" />
                </div>
            </div>
        </div>
    </div>
}
