@model ShoppingCart.Models.Objects.HomeViewModel

@{
    ViewBag.Title = "Home";
}

<div class="col-md-2">
    <h3>Categories</h3>

    <div>
        @foreach (var productCategory in Model.ProductCategories)
        {
            <ul class="nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <h5>@productCategory.Name</h5><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        @foreach (var productType in Model.ProductTypes)
                        {
                            foreach (var product in Model.Products)
                            {
                                if (product.Type.Id.Equals(productType.Id) && product.Category.Id.Equals(productCategory.Id))
                                {
                                    <li><a href="@Url.Action("ViewProductList", "Product", new { typeId = product.Type.Id, categoryId = product.Category.Id })">@product.Type.Name</a></li>
                                    break;
                                }
                            }
                        }
                    </ul>
                </li>
            </ul>
        }
    </div>
</div>

<div class="col-md-9">
    <h3>Most Popular</h3>

    @foreach (var product in Model.Products)
    {
        <div class="col-md-4">
            <div class="product-thumb-container">
                @Html.Partial("_ProductThumb", product)
            </div>
        </div>
    }
</div>
