body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

nav,
navbar-nav {
    background-color:blue;
}

.navigation {
    width: 100%;
    padding: 15px;
    background-color: darkorange;
}

.panel-left ul li{
    vertical-align: middle;
}

.thumbnail {
    max-width:100px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

div.categories {
    max-width: 200px;
    position:relative;
}

.list-group {
    margin-bottom: 3px;
}

.list-group-horizontal .list-group-item {
    display: inline-block;
}

.list-group-horizontal .list-group-item {
    margin-bottom: 0;
    margin-left: -4px;
    margin-right: 0;
}

.list-group-horizontal .list-group-item:first-child {
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
}    

.list-group-horizontal .list-group-item:last-child {
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
}

.card-img-top {
    width: 200px;
    height: 200px;
}

/* HOMEPAGE */

.sidebar {
    width: 250px;
    float: left;
    background-color: #dddddd;
    padding: 20px;
}

.product-container {
    width: 300px;
    height: 400px;
    background-color: white;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 5px 100px 5px 5px;
}

.product-thumb {
    width: 250px;
    height: 300px;
    background-color: white;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 5px 100px 5px 5px;
}

.btn-add-to-cart {
    padding: 10px;
    background-color:transparent;
    float:right;
    margin-top:5px;
}

.caret {
    float: right;
}

.card-title {
    color: #428bca;
}

.card-price {
    text-align:left;
    color:red;
}

.container {
    margin-left: 25%;
}